{% unless page.no_header %}
  {% if index %}
  	<header class="index">
  		<h1><a href="{{ root_url }}{{ page.url }}">{{ page.title }}</a></h1>
  {% else %}
  	<header>
  		<h1>{{ page.title }}</h1>
  {% endif %}
	<time>{{ page.date | date: "%d %B %Y" }}</time>
  </header>
{% endunless %}
{% if index %}
<div class="index">
  	<div class="entry-content">{{ content | excerpt }}</div>
  	{% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  	{% if excerpted == 'true' %}
    <footer>
      <a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
    </footer>
  	{% endif %}
</div>
{% else %}
<div class="entry-content">{{ content }}</div>
{% endif %}

